.tittle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.detail {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
  border: 1px solid #000;
}

.img-detail {
  width: 300px;
}

.info-detail {
  flex: 1;
}
